@font-face {
    font-family: 'Product Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Regular'), url('fonts/ProductSans-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Italic'), url('fonts/ProductSans-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Thin Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Thin Regular'), url('fonts/ProductSans-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Light Regular'), url('fonts/ProductSans-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Medium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Medium Regular'), url('fonts/ProductSans-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Black Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Black Regular'), url('fonts/ProductSans-Black.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Thin Italic'), url('fonts/ProductSans-ThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Light Italic'), url('fonts/ProductSans-LightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Medium Italic'), url('fonts/ProductSans-MediumItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Bold'), url('fonts/ProductSans-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Bold Italic'), url('fonts/ProductSans-BoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Black Italic'), url('fonts/ProductSans-BlackItalic.woff') format('woff');
    }








:root {
    --color-black: #1A1D32;
    --color-grey: #7D8790;
    --color-grey-light: #F4EBE6;
    --color-orange: #ED9B59;



}



* {
    margin: 0;
    padding: 0; 
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit; 
}
  
html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Product Sans Regular';
    -webkit-font-smoothing: auto;
}


.container {
    width: 1440px;
    height: 990px;
    margin: 0 auto;
}

.menu {
    padding: 3.7rem 7.4rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

.logo {
    display: flex;
    
    align-items: center;
}

.logo img {
    margin-right: 1rem;
}

.logo span {
    font-size: 1.6rem;
    font-family: 'Product Sans Bold';
    color: var(--color-black);
}

.nav-menu {
    font-size: 1.6rem;
    font-family: 'Product Sans Medium Regular';
}

.nav-menu a{
    color: var(--color-grey);
    text-decoration: none;
    margin-right: 4rem;
}

.nav-menu a:last-child{
    margin-right: 0;
}

.nav-menu .active {
    color: var(--color-orange);
    position: relative;
}

.nav-menu .active::before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-orange);
    border-radius: 50%;
}


.buttons button {
    font-size: 1.6rem;
}

.buttons .log-in {
    margin-right: 3.9rem;
    font-family: 'Product Sans Medium Regular';
    
    color: var(--color-grey);
    border: 0;
    background-color: transparent;
    cursor: pointer;

}

.buttons .register {
    color: #fff;
    border: 1px solid var(--color-orange);
    background-color: var(--color-orange);
    border-radius: 100px;
    padding : 1.7rem 4.5rem;
    font-family: 'Product Sans Bold';
}


  