@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');



@font-face {
    font-family: 'Product Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Regular'), url('fonts/ProductSans-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Italic'), url('fonts/ProductSans-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Thin Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Thin Regular'), url('fonts/ProductSans-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Light Regular'), url('fonts/ProductSans-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Medium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Medium Regular'), url('fonts/ProductSans-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Black Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Black Regular'), url('fonts/ProductSans-Black.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Thin Italic'), url('fonts/ProductSans-ThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Light Italic'), url('fonts/ProductSans-LightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Medium Italic'), url('fonts/ProductSans-MediumItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Bold'), url('fonts/ProductSans-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Bold Italic'), url('fonts/ProductSans-BoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Black Italic'), url('fonts/ProductSans-BlackItalic.woff') format('woff');
    }








:root {
    --color-black: #1A1D32;
    --color-grey: #7D8790;
    --color-grey-light: #F4EBE6;
    --color-orange: #ED9B59;



}



* {
    margin: 0;
    padding: 0; 
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit; 
}
  
html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Product Sans Regular';
    -webkit-font-smoothing: auto;
}


.container {
    position: relative;
    width: 1440px;
    height: 990px;
    margin: 6rem auto;
    padding: 0 7.4rem;
    background-color: #FEF1E5;
    background-image: url(img/noise.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 3;
}


.menu {
    padding: 3.7rem 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

.logo {
    display: flex;
    
    align-items: center;
}

.logo img {
    margin-right: 1rem;
}

.logo span {
    font-size: 1.6rem;
    font-family: 'Product Sans Bold';
    color: var(--color-black);
}

.nav-menu {
    font-size: 1.6rem;
    font-family: 'Product Sans Medium Regular';
}

.nav-menu a{
    color: var(--color-grey);
    text-decoration: none;
    margin-right: 4rem;
}

.nav-menu a:last-child{
    margin-right: 0;
}

.nav-menu .active {
    color: var(--color-orange);
    position: relative;
}

.nav-menu .active::before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-orange);
    border-radius: 50%;
}


.buttons button {
    font-size: 1.6rem;
}

.buttons .log-in {
    margin-right: 3.9rem;
    font-family: 'Product Sans Medium Regular';
    
    color: var(--color-grey);
    border: 0;
    background-color: transparent;
    cursor: pointer;

}

.buttons .register {
    color: #fff;
    border: 1px solid var(--color-orange);
    background-color: var(--color-orange);
    border-radius: 100px;
    padding : 1.7rem 4.5rem;
    font-family: 'Product Sans Bold';
    cursor: pointer;
}

main {
    position: absolute;
    top : 20%;
    display: inline-block;
}

.left{width: 50%;}

.mini-title h5 {
    font-size: 1.4rem;
    font-family: 'Product Sans Regular';
    color: var(--color-orange);
    margin-bottom: 1.5rem;
}

.title h1 {
    font-size: 5.8rem;
    color: var(--color-black);
    margin-bottom: 3rem;
}

.title h1 .orange {
    color: var(--color-orange);
}

.title h1 .shadow {
    text-shadow: 0px 21px 26px #ed9b59;
    
}


.left .text {
    font-size: 2rem;
    width: 72%;
    line-height: 3rem;
    font-family: 'Product Sans Light Regular';
    color: var(--color-black);
    margin-bottom: 2.2rem;
}

.mail {
    display: flex;
    align-items: center;
    width: 68%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 29px 38px rgb(0 0 0 / 10%);
    margin-bottom: 12rem;
}

.mail img{
    margin-right: 2rem;
    margin-left: 1rem;
}

.mail input {
    margin-right: auto;
    border: 0;
    /* font-family: inherit; */
    /* color: #1A1D32; */
    font-size: 1.6rem;
}

.mail form {
    font-family: inherit;
    color: var(--color-grey);
    display: flex;
    align-items: center;
    margin-right: auto;
}

.mail span {
    justify-self: end;
}

.mail input::placeholder{
    margin-right: auto;
    border: 0;
    font-family: inherit;
    
    font-size: 1.6rem;
}

.mail input:focus {
    outline: none;
}

.mail button {
    padding: 1.6rem 4.5rem;
    border-radius: 100px;
    background-color: var(--color-orange);
    border:0;
    color: #fff;
    cursor: pointer;
}

.dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72%;
}

.dates h1 {
    font-size: 5.6rem;
    color: var(--color-black);
}

.dates .box2 h1 {
    color: #B25E21;
}

.dates p {
    color: var(--color-black);
    font-size: 1.6rem;
}

.lines {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    overflow: hidden;
}

.lines img {
    width: 100%;
    height: auto;
}


.vector {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
}

.image {
    position: absolute;
    bottom:0;
    right: 18rem;

}

.likes {
    position: absolute;
    top:20px;
    right: 28px;
    z-index: -2;
}

.date {
    position: absolute;
    top: 50%;
    right: 27px;
    opacity: 0.6;
    z-index: -2;

}

.details {
    width: 29%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -55px;
    right: 33%;
}

.type {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    
    color: #F59B5A;

    margin-bottom: 3.6rem;
    
}

.type .box {
    width: 12.3rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;

}


.type .box span{
    font-size: 1.4rem;
    margin-left: 1rem;
}

.type .calendar {
    background-color: #F59B5A;
    color: #fff;
}

.profil {
    justify-self: flex-start;
    padding: 1rem;
    background-color: #fff;
    border-radius: 20px;
    width: 89%;
}

.about {
    display: flex;
    align-items: center;
    
    /* width: 36.5rem;
    height: 9.8rem; */
}

.about img {
    margin-right: 2.6rem;
}

.about .name {
    margin-right: 5.4rem;
}

.about .name h4 {
    font-size: 1.6rem;
}

.about .name span {
    font-size: 1.4rem;
    color: #adacac;
}

.about button {
    padding: 1.5rem 2rem;
    background-color: #F59B5A;
    color: #fff;
    border-radius: 5px;
    border: 0;
    font-size: 1.4rem;
}

.profil1 {
    align-self: flex-start;
    margin-bottom: 1.8rem;
}

.profil2 {
    align-self: flex-end;
}


.credit-card {
    width: 40rem;
    height: 25.4rem;
    bottom: -10px;
    right: 0;
    position: absolute;
    bottom: -8%;
    right: -37px;
    z-index: 5;
    /* overflow: visible; */
    filter: brightness(0.9);
    background-image: url(img/Pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.card-items {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
}
.card-items p {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 1.25rem;
}



.card-circles {
    content: "";
    width: 36px;
    height: 36px;
    background-color:#fff;
    border-radius: 50%;
    box-shadow: 20px 0 0 rgb(151 151 151 / 20%);
    margin-bottom: 3rem;
}

.card-number{
    margin-bottom: auto;
}

/* .card-number p {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 1.25rem;
} */

.card-number h2 {
    font-size: 3.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.5px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card-details h3{
    font-size: 1.8rem;
}
    

